extends layout

block content
	.row
		.span10
			table.table.table-striped.table-condensed
				thead
					tr
						td Url
						td Status
						td Latency
						td Name
						td Method
						td Created
						td Timeout
						td Last Seen
						td
				tbody
					for site in sites
						tr.site(data-id="#{site._id}", data-url="#{site.url}")
							td
								strong
									| !{site.url}
							td.siteStatus --
							td.siteLatency --
							td !{site.name}
							td !{site.method}
							td !{site.created}
							td !{site.timeout}
							td.siteLastSeen --
							td
								a(href="/#{site._id}/pings") details
		.pull-right
			span websocket:
				span.websocketStatus offline
