!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
		include styles
	body
		.container
			block content
		include scripts
		include socketEvents
		block page-script
