script.
	var socket = io.connect();
	socket.on('ping', function(instance){
		$('.websocketStatus').text('connected');
		$('.site').each(function(i,elm){
			if($(elm).data('url') == instance.url){
			var status = (instance.currentStatus.toString() == 'true')?'OK':'DOWN!';
				$(elm).children('.siteStatus').text(status);
				$(elm).children('.siteLatency').text(instance.latency+'ms');
				$(elm).children('.siteLastSeen').text(instance.upSince);
			}
		});
	});
