extends ../layout

block content
	.row
		h2 Ping History
	.row
		h4
			span.muted !{url}
	.row
		.loading loading..
		#pingChart(style="height:400px;")


block page-script
	script(src="/js/lib/chart.js")
	script(src="/js/lib/underscore.js")
	link(rel="stylesheet", href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
	script(src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js")
	script.
		jQuery(function($){
			$.getJSON('/api/#{_id}/pings', function(pings){
				var data = _.map(pings, function(ping){
						return {timestamp: new Date(ping.recorded).getTime(), value: Math.log(ping.latency), latency: ping.latency};
					});

				pingChart = new Morris.Line({
					// ID of the element in which to draw the chart.
					element: 'pingChart',
					// Chart data records -- each entry in this array corresponds to a point on
					// the chart.
					data:data,
					// The name of the data record attribute that contains x-values.
					xkey: 'timestamp',
					// A list of names of data record attributes that contain y-values.
					ykeys: ['value'],
					// Labels for the ykeys -- will be displayed when you hover over the
					// chart.
					labels: ['latency'],
					lineWidth:1,
					pointSize:0,
					smooth:true,
					postUnits:'ms'
				});
				$('.loading').remove();
			});
		});
